<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}">
<head>
    <title>Upload de Arquivo</title>
</head>
<body>
     <header>
        <div class="escritoRelatorio">RELATÓRIO DE VENDAS</div>
        <img th:src="@{/img/logoEquals.png}" alt="">
    </header>

    <div class="caixaPrincipal">
        <h2 class="tituloEscolherArquivo">ESCOLHA O ARQUVO</h2>
        <form class="formularioEnviarArquivo" method="post" enctype="multipart/form-data" action="/processar">
            <input type="file" name="file" required>
            <button type="submit">ENVIAR ARQUIVO</button>
        </form>
    </div>

    <p th:if="${erro}" th:text="${erro}" style="color:red;"></p>
</body>
</html>
